@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
:root{
    --main-color:#1C8D73 ;
    --white:#f6f6f6;
}
body{
    font-family: 'Montserrat', sans-serif;
}
.heading .line::after,.heading .line::before{
    content: "";
    height: 0.5px;
    background-color: #777777;
    width: 3rem;
    margin: 0.4rem;
    padding: 0 1rem;
    display: inline-block;
}
.navigation{
    display: flex;
    justify-content: space-around;
    width: 100%;
    min-height: 10vh;
    align-items: center;
    background-color: #212121;
    color: #f1f1f1;
    position: fixed;
    z-index: 99;
}
.logo{
    font-size: 22px;
    font-weight: 900;
}
.logo img{
    height:50px;
    width: 50px;
}
.navbar-links{
    list-style: none;
    display: flex;
    margin: 0 !important;
}
.navbar-links li{
    margin-left: 30px;
}
.navbar-link{
    color:var(--white);
    text-decoration: none !important; 
}
.navbar-links :hover{
    color: var(--main-color) !important;
    font-weight: 800;
}
.burgar div{
    width: 20px;
    height: 2px;
    margin: 5px;
    background-color:var(--white);
    transition: all 200ms;
}
.toggle .bar1{
    transform: rotate(45deg) translate(1px,9px);
}
.toggle .bar2{
    transform: scale(0);
}
.toggle .bar3{
    transform: rotate(-45deg) translate(1px,-9px);
}
.burgar{
    display: none;
}
/* hero section */
.hero{
    min-height: 100vh;
    background:linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)), url('images/hero.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color:var(--white);
}
.hero .heading h1 span {
    display: inline-block;
    font-size: 3rem;
    margin-right: 1rem;
  }
.tag::first-letter{
   color:var(--main-color);
   font-size: 150%;
   font-weight: 800;
}
.hero .heading p{
    font-size: 1rem;
}
.hero .down-arrow{
    position: absolute;
    right: 50%;
    height: 70px;
    width: 70px;
    background-color:rgba(0,0,0, 0.2);
    border-radius: 50%;
    text-align: center;
    line-height: 70px;
    cursor: pointer;
    margin-top: 2rem;
    font-weight: bolder;
    animation: fromBottom;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
.hero .down-arrow a{
    text-decoration: none;
    font-size: 2.5rem;
    color:var(--main-color);
}
@keyframes fromBottom{
    0%{
        transform:translateY(-20px) ;
    }
    50%{
        transform:translateX(20px) ;
    }
    100%{
        transform:translateY(-20px);
    }
}
/* about section */
.about{
    min-height: 100vh;
}
.about p{
    font-size: 1.3rem;
    line-height: 2;
}
/* service section */
.services{
    min-height: 100vh;
    background:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url('images/photo-1486312338219-ce68d2c6f44d.jpg');
    color: var(--white);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.services .heading .line::after,.services .heading .line::before{
    content: "";
    height: 0.5px;
    background-color:var(--white);
    width: 3rem;
    margin: 0.4rem;
    padding: 0 1rem;
    display: inline-block;
}
.services-container{
    max-width:80%;
    margin: 0 auto;
    /* color: #e0e2db; */
}
.service-item{
    overflow: hidden;
    position: relative;
   padding: 4rem 1rem;
   color: var(--white);
   cursor: pointer;
}
.service-item .fa{
    font-size: 60px;
    margin-bottom: 30px;
    color:var(--main-color);
}
.service-item-black{
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7));
}

.service-item-white{
    background: linear-gradient(rgba(206,206,206,0.6),rgba(206,206,206,0.6));
    color: #191716;
}
.front-text{
    text-align: center;
    transition: transform 2s;
}
.back-text{
    position: absolute;
    bottom: -20em;
    /* width: 75%; */
    margin: 0 1rem;
    height: 100%;
    transition: bottom 2s;
    padding: 30px 0;
}
.back-text h1{
    margin-bottom: 20px;
}
.service-item:hover .front-text{
    transform: translateY(-300px);
}
.service-item:hover .back-text{
    bottom: 0;
}
/* team section */
.team{
    min-height: 100vh;
}
.team .image-container img{
    height: 250px;
    transform: all 1s linear;
}
.card {
    cursor: pointer;
    position: relative;
}
.card .image-container{
    overflow: hidden;
}

.card .icons{
    position: absolute;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: bottom 2s;
    opacity: 0;
    bottom: 7em;
    transform: all 1s ease-in-out;
}
.card .icon{
    background-color: var(--main-color);
    height: 40px;
    width: 40px;
    clip-path: circle(50%);
    color: var(--white);
    cursor: pointer;
    transform: all 0.5s linear;
}
.card .image-container img:hover{
    transform: scale(1.2);
}
.card:hover .icons{
    bottom: 5.5em;
    opacity: 1 !important;
}
.card .icons .icon:hover{
    background-color:var(--white);
    color: #212121;
}
/* contact section */
.contact{
    min-height: 100vh;
    background-color: var(--white);
}
.contact .form-group{
    max-width:100vh;
    margin: 0 auto;
}
.contact .form-group .form-control{
    border-radius: 0 !important;
    border-top: 0 !important;
    border-left: 0 !important;
    border-right: 0 !important;
    background-color: transparent !important;
}
 textarea:focus, input:focus{
    outline: none !important;
}
.contact .btn{
    background-color: var(--main-color);
    color: var(--white);
    border-radius: 0 !important;
    outline: none !important;
}
/* newsletter section */
.newsletter{
    min-height: 50vh;
    background-color: var(--main-color);
}
.newsletter .btn{
    background-color:#212121;
    border-radius: 0 !important;
    color: var(--white);
    font-weight: 800;
}
.newsletter h2{
    font-weight: bolder;
}
.newsletter .form-control{
    border-radius: 0 !important;
    outline: none !important;
}
.newsletter label{
    color: var(--white);
    font-size: 1rem;
}
/* footer section */
.footer{
    background-color: #212121;
    color: var(--white);
}
.footer .contact-box .contact-icon{
    height: 75px;
    width: 75px;
    background: linear-gradient(45deg, rgb(32, 43, 48),#f2f2f2);
    border-radius: 50%;
    line-height: 75px;
    position: relative;
    z-index: 1;
    margin: 1.5rem auto;
    color: #f2f2f2;
    font-size: 1.3rem;
    cursor: pointer;
    transition: all 0.3s ease;
}
.footer .contact-box .contact-icon::before{
    content: "";
    position: absolute;
    left: 4px;
    top: 4px;
    border: 2px solid #f2f2f2;
    width: calc(100% - 8px);
    height: calc(100% - 8px);
    border-radius: 50%;
    z-index: -1;
    transition: all 0.3s ease;
}
.footer .contact-box:hover .contact-icon{
    color:#212121;
}
.footer .contact-box:hover .contact-icon::before{
    background-color:var(--white);
}
.footer .contact-detail{
    border-bottom: 1px solid #5c5b5b;
}
.social-footer .icon{
    width: 45px;
    height: 45px;
    background-color: #686764;
    border:1px solid #2b2b2b;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:0.4rem;
    cursor: pointer;
    color: #f2f2f2;
    font-size: 15px;
}
.social-footer .icon a{
    color: #f2f2f2;
    text-decoration: none;
}
.social-footer .icon:hover i{
    background-color: #f2f2f2;
    color: #212121;
}
.social-footer .icon:hover{
    background-color: #f2f2f2;
}
 .footer p{
    font-size: 0.8rem;
}
 .footer p a{
    text-decoration: none;
    cursor: pointer;
    color: var(--main-color);
    font-size: 1rem !important;
}
@media only screen and (max-width: 990px){
.service-item-white-1{
    order: 1;
}
.card{
    margin: 1rem 0rem !important;
}
}
@media only screen and (max-width: 640px) {
    .burgar{
        display: block;
        cursor: pointer;
    }
    .navbar-links{
        position: absolute;
        right: 0;
        top: 10vh;
        background-color: #212121;
        flex-direction: column;
        width: 50%;
        height: 90vh;
        align-items: center;
        transform: translateX(100%);
        transition: all 300ms ease;
    }
    .navbar-links li{
        margin: 1rem 0;
    }
    .show-nav{
        transform: translateX(0%);
    }
    .hero .heading h1 span{
        font-size: 2rem;
    }
     
  }
  @media only screen and (max-width: 450px){
    .hero .heading {
        margin: 0.8rem !important;
    }
    .hero .heading h1 span{
        font-size: 1.8rem;
    }
    .hero .heading p{
        font-size: 0.8rem;
    }
  }
  @media only screen and (max-width: 425px){
        .services-container{
            padding: 0 !important;
        }
        .contact .container{
            padding: 0 !important;
        }
  }